# Generated with Atomizr – https://atom.io/packages/atomizr
".source.js,source.jsx":
	"constructor()":
		prefix: "constructor()"
		body: '''
			constructor(props) {
			  super(props);

			  this.state = {};
			}$0
		'''
