# Generated with Atomizr – https://atom.io/packages/atomizr
".source.js,source.jsx":
	NavigatorIOS:
		prefix: "<NavigatorIOS"
		body: '''
			<NavigatorIOS
			  style={${1}}
			  initialRoute={{
			    title: '${1:Title}',
			    component: ${2:View}
			  }} />
			${3}$0
		'''
