# Generated with Atomizr – https://atom.io/packages/atomizr
".source.js,source.jsx":
	ListView:
		prefix: "<ListView"
		body: '''
			<ListView
			  style={${1}}
			  dataSource={${2:this.state.dataSource}}
			  renderRow={${3:(rowData) => ${4:<Text>{rowData\\}</Text>}}} />
			${5}$0
		'''
