# Generated with Atomizr – https://atom.io/packages/atomizr
".source.js,source.jsx":
	MapView:
		prefix: "<MapView"
		body: '''
			<MapView
			  style={${1}}
			  region={{
			    latitude: ${2:37.484419},
			    longitude: ${3:-122.1499859},
			    latitudeDelta: 0.04,
			    longitudeDelta: 0.04,
			  }}
			  renderRow={${3:(rowData) => ${4:<Text>{rowData\\}</Text>}}} />
			${5}$0
		'''
