# Generated with Atomizr – https://atom.io/packages/atomizr
".source.js,source.jsx":
	Navigator:
		prefix: "<Navigator"
		body: '''
			<Navigator
			  initialRoute={{name: '${1:My First Scene}', index: 0}}
			  renderScene={(route, navigator) => {
			    ${2}
			  }}
			/>$0
		'''
