# Generated with Atomizr – https://atom.io/packages/atomizr
".source.js,source.jsx":
	ScrollView:
		prefix: "<ScrollView"
		body: '''
			<ScrollView
			  contentContainerStyle={${1:styles.contentContainer}}
			  style={${2:styles.scrollView}}>
			  ${3}
			</ScrollView>$0
		'''
